# ---------------------------------------------------------------------------------------------------------------------
# general
# ---------------------------------------------------------------------------------------------------------------------
# ssh keys
*.pem
*.ppk

# files with sensitive content
**/secret

# log files
*.log

# backup files
*.bak
*.backup

# temporary files
*~
*.tmp
*.temp
*.test

# non-code directories
**/ref
**/temp

# ---------------------------------------------------------------------------------------------------------------------
# vs code
# ---------------------------------------------------------------------------------------------------------------------
# ignored vs code files
.vscode/

# ---------------------------------------------------------------------------------------------------------------------
# powershell
# ---------------------------------------------------------------------------------------------------------------------


# ---------------------------------------------------------------------------------------------------------------------
# python
# ---------------------------------------------------------------------------------------------------------------------
__pycache__/

# ---------------------------------------------------------------------------------------------------------------------
# bash
# ---------------------------------------------------------------------------------------------------------------------


# ---------------------------------------------------------------------------------------------------------------------
# terraform
# ---------------------------------------------------------------------------------------------------------------------
# local .terraform directories
**/.terraform/*

# state files
*.tfstate
*.tfstate.*

# plan files
*tfplan*

# tf-cli configuration files
.terraformrc
terraform.rc

# hcl-language files
*.hcl

# ignore override files, used to override resources locally and so not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# crash log files
crash.log

# ---------------------------------------------------------------------------------------------------------------------
# ansible
# ---------------------------------------------------------------------------------------------------------------------
